/* @define acc-dropdown; weak */

.acc-dropdown {
  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 998; /* One less than the dropdown container to be behind it */
    display: none;

    @media (max-width: 880px) {
      display: block;
    }
  }
  &__container {
    border-radius: 16px;
    position: absolute;
    z-index: 15;
    transition:
      transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1),
      opacity 0.25s linear;
    box-shadow: 0 8px 16px rgb(0 0 0 / 25%);
    border: 1px solid var(--general-section-1);
    right: -32px;
    top: calc(100% + 8px);
    width: 196px;
    background: var(--general-main-1);
    padding: 0;
    overflow: hidden;

    @media (max-width: 880px) {
      position: fixed;
      top: unset;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      box-shadow: 0 -4px 16px rgb(0 0 0 / 16%);
      height: auto;
      border-radius: 20px 20px 0 0;
      z-index: 999;
      max-height: 80vh;
      overflow-y: auto;
    }

    &--enter-done {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
    &--enter,
    &--exit {
      opacity: 0;
      transform: translate3d(0, -20px, 0);

      @media (max-width: 880px) {
        transform: translate3d(0, 100%, 0);
      }
    }
  }
  &__drag-handle {
    width: 100%;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 0;
  }
  &__drag-indicator {
    width: 36px;
    height: 4px;
    background: var(--general-section-1);
    border-radius: 4px;
  }
  &__list {
    border-radius: 8px;
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    background: var(--general-main-1);
    width: 100%;
  }
  &__account-wrapper {
    width: 100%;
    cursor: pointer;
    position: relative;

    &:first-child {
      padding: 10px 10px 2px;
    }
    &:not(:first-child) {
      padding: 2px 10px 10px;
    }

    @media (max-width: 880px) {
      padding: 8px 16px !important;
    }
  }
  &__account {
    display: flex;
    padding: 8px 16px;
    border-radius: 8px;
    flex-direction: column;
    background: var(--general-main-1);

    @media (max-width: 880px) {
      position: relative;
      padding: 12px;
    }

    &--selected {
      background: var(--general-section-1);
    }
    &:hover:not(.acc-dropdown__account--selected) {
      background-color: var(--general-section-1);
    }
    &-name {
      font-size: 14px;
      margin-bottom: 3px;

      &--real {
        color: var(--status-success);
      }
      &--demo {
        color: var(--status-warning);
      }
    }
    &-balance {
      font-size: 16px;
      color: var(--text-general-bold);
      font-weight: bold;

      @media (max-width: 880px) {
        font-size: 20px;
      }
    }
  }
}

.acc-info {
  &__select-arrow {
    transition: transform 0.3s ease;

    &--active {
      transform: rotate(180deg);
    }
  }
}
