name: DSmartTrader Production Release
on:
  push:
    tags:
    - production_*
jobs:
  build_test_and_publish:
    name: Build, Test and Publish to Cloudflare Pages Production
    runs-on: ubuntu-latest
    environment: production
    permissions:
      contents: read
      actions: write
    steps:
      - name: Checkout
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11

      - name: Setup Node
        uses: "./.github/actions/setup_node"

      - name: Install dependencies
        uses: "./.github/actions/npm_install"

      - name: Build
        uses: "./.github/actions/build"
        with:
          target: production
          R2_PROJECT_NAME: ${{ vars.R2_PROJECT_NAME }}
          CROWDIN_URL: ${{ vars.CROWDIN_URL }}
          CROWDIN_BRANCH_NAME: ${{ vars.CROWDIN_BRANCH_NAME }}
          # RUDDERSTACK_KEY:  ${{ vars.RUDDERSTACK_KEY }}
          # GROWTHBOOK_CLIENT_KEY: ${{ vars.GROWTHBOOK_CLIENT_KEY }}
          # REMOTE_CONFIG_URL:  ${{ vars.REMOTE_CONFIG_URL }}

      - name: Versioning
        uses: "./.github/actions/versioning"
        with:
          release_type: production

      - name: "Run Tests"
        run: npm run test

      - name: Upload Artifacts
        uses: actions/upload-artifact@65c4c4a1ddee5b72f698fdd19549f0f0fb45cf08
        with:
          name: dist
          path: dist

      - name: Publish to Cloudflare Pages Production
        uses: "./.github/actions/publish_to_pages_production"
        with:
          CLOUDFLARE_ACCOUNT_ID: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}