name: DSmartTrader Staging Release
on:
  push:
    branches:
      - master
jobs:
  build_and_test:
    name: Build, Test and Publish to Cloudflare Staging
    runs-on: ubuntu-latest
    environment: staging
    permissions:
      contents: read
      actions: write
    steps:
      - name: Checkout
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11

      - name: Setup Node
        uses: "./.github/actions/setup_node"

      - name: Install dependencies
        uses: "./.github/actions/npm_install"

      - name: Build
        uses: "./.github/actions/build"
        with:
          target: staging
          # RUDDERSTACK_KEY: ${{ vars.RUDDERSTACK_KEY }}
          # GROWTHBOOK_CLIENT_KEY: ${{ vars.GROWTHBOOK_CLIENT_KEY }}
          # REMOTE_CONFIG_URL: ${{ vars.REMOTE_CONFIG_URL }}

      - name: Versioning
        uses: "./.github/actions/versioning"
        with:
          release_type: staging

      - name: "Run Tests"
        run: npm run test
      - uses: actions/upload-artifact@65c4c4a1ddee5b72f698fdd19549f0f0fb45cf08
        with:
          name: dist
          path: dist

      - name: Publish to Cloudflare Pages Staging
        uses: "./.github/actions/publish_to_pages_staging"
        with:
          CLOUDFLARE_ACCOUNT_ID: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
