name: Security checks
run-name: Security checks

on:
  workflow_dispatch:
  push:
    branches:
      - master
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  claude_scanner:
    uses: deriv-com/security-scanner/.github/workflows/claudecodescanner.yaml@master
    secrets: inherit
    permissions:
      contents: read
      actions: read
